/*      Demo Video
***************************************************/

#v0{
  object-fit: cover;
}

.pin-img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.demoVideo-container,
.image-container {
  height: 250vh;
}
.demoImg {
  object-fit: cover;
}
.demoVideo-text-container {
  top: 50vh;
  margin-top: 20vh;
  margin-bottom: 40vh;
  transform: translateY(-50%);
}
.t-0{top : 0;}
.l-0{left : 0;}
.space-top,
.space-bottom,
.space-left,
.space-right {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 9;
}
.space-top {
  top: 0;
  height: calc(10vh + 80px);
  width: 100%;
}
.scrollUp .space-top {
  height: calc(10vh + 123px);
}
.space-bottom {
  bottom: 0;
  height: calc(10vh + 80px);
  width: 100%;
}
.space-left {
  left: 0;
  height: 100%;
}
.space-right {
  right: 0;
  height: 100%;
}
.full-screen .space-top,
.full-screen .space-bottom {
  height: 0 !important;
}
.full-screen .space-left,
.full-screen .space-right {
  width: 0 !important;
}


/* USE HAS SLIDER */
.use-as-slider .demoVideo-text-container {
  top: 0vh;
  left: 0;
  margin-top: -100vh;
  margin-bottom: 0vh;
  transform: translate(0%, 0%);
  position: sticky!important;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}
.use-as-slider h1 {
  font-size: 8vh;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.05s ease;
  white-space: nowrap;
  max-width: 100vw;
  overflow: hidden;
}
.use-as-slider h2, .use-as-slider h3, .use-as-slider p {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text-container{
  min-height: 150px;
}


/* RESPONSIVE */
/* 13 POUCES */

/* 13 POUCES */
@media (max-width: 1280px) {

}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {

  .pin-img{
    transform: scale(1);
  }
  .demoVideo-container.use-as-slider, .image-container.use-as-slider{
    height: 100vh;
    overflow: hidden;
  }
  .use-as-slider h1{
    font-size: 6vh;
  }
  .use-as-slider .demoVideo-text-container {
    background: #fff0;
  }
}









/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .text-white.text-container.mx-auto {
        overflow: hidden;
    }  }

/* Landscape */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {


}
